.printContent {
    visibility: hidden;
    height: 0px;
}

@media print {
    /* body * {
        visibility: hidden;
    } */
    .printContent, .printContent * {
        visibility: visible;
        height: auto;
    }
    .printContent {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }
}
